@using System.Fabric
@inject PrintService service
@inject ServiceContext serviceContext

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Service Name: @serviceContext.ServiceName </p>
    <p>Partition: @serviceContext.PartitionId </p>
    <p>InstanceId: @serviceContext.ReplicaOrInstanceId </p>
    <p>PrintService: @service.GetNum() </p>
</div>
